body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inventory-container {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.inventory-title {
    color: #fbfbfb;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.inventory-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inventory-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.333% - 20px); /* Three columns layout */
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.inventory-item:nth-child(3n) {
    margin-right: 0; /* Remove right margin for every third item */
}

.inventory-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.inventory-item-image {
    background-color: #eee;
    height: 200px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inventory-item h3 {
    color: #333;
    font-size: 1.5em;
    margin: 0 0 10px;
}

.inventory-item p {
    color: #333;
    font-size: 1em;
    margin: 5px 0;
}

.inventory-item button {
    padding: 10px;
    background-color: #f3eaea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .inventory-item button:hover {
    background-color: #f9f8f8;
  }